<link rel="import" href="../../components/polymer/polymer.html">

<dom-module id="sgdq-qplate">
    <style is="custom-style">
        :host {
            display: block;
            transform-style: preserve-3d;
        }

        #display,
        #hopper {
            backface-visibility: hidden;
            white-space: nowrap;
            @apply(--sgdq-qplate-face-style);
        }

        #hopper {
            position: absolute;
            opacity: 0;
        }
    </style>

    <template>
        <div id="display" class="face"></div>
        <div id="hopper">
            <content></content>
        </div>
        <div id="yardstick" class="face"></div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-qplate',

        properties: {
            direction: {
                type: String,
                value: 'down'
            },
            duration: {
                type: Number,
                value: 0.7
            },
            easeIn: {
                type: Object,
                value: Back.easeIn.config(2)
            },
            easeOut: {
                type: Object,
                value: Back.easeOut.config(2)
            },
            autoFit: {
                type: Boolean,
                value: true
            },
            originDist: {
                type: Number,
                value: '7',
                observer: 'onOriginDistChanged'
            }
        },

        onOriginDistChanged: function(newVal) {
            TweenLite.set(this.$.display, {transformOrigin: 'left center -' + newVal + 'px'});
        },

        /*
         * Lifecycle
         */
        ready: function () {
            // Watch #hopper for changes. Upon a change, flip #display to the contents of #hopper.
            var self = this, observer = new MutationObserver(function (mutations) {
                self.debounce('flip', self._flipToHopperContent, 10);
            }).observe(this.$.hopper, {childList: true, subtree: true, characterData: true});
        },

        /*
         * Methods
         */
        fillHopper: function(el) {
            this._emptyLightDom();

            // Place the new element in the light DOM (aka, the <content> tag in #hopper).
            Polymer.dom(this).appendChild(el);
        },

        fillHopperText: function(text) {
            this._emptyLightDom();

            // Place the new text in the light DOM (aka, the <content> tag in #hopper).
            Polymer.dom(this).innerHTML = text;
        },


        _emptyLightDom: function() {
            while (Polymer.dom(this).firstChild) {
                Polymer.dom(this).removeChild(Polymer.dom(this).firstChild);
            }
        },

        _flipToHopperContent: function() {
            var self = this;
            var tl = new TimelineLite();

            // Get the <content> nodes from within #hopper. Because we only have one <content> tag,
            // we can kinda cheat and use the "this.$$" selector to easily reference it.
            var distributedNodes = Polymer.dom(this.$$('content')).getDistributedNodes();

            tl.to(this.$.display, this.duration / 2, {
                rotationX: this.direction === 'down' ? '-90deg' : '90deg',
                ease: this.easeIn,
                onComplete: function() {
                    // Empty #display.
                    while (self.$.display.firstChild) {
                        self.$.display.removeChild(self.$.display.firstChild);
                    }

                    // Then, clone the distributedNodes into it. We clone because otherwise we'd be triggering
                    // the mutationObserver that is watching #hopper over and over again.
                    distributedNodes.forEach(function(node) {
                        self.$.display.appendChild(node.cloneNode(true));
                    });

                    // Automatically horizontally scale this qplate to fit in its
                    // parent based on this new content, if desired.
                    if (self.autoFit) {
                        self.fit();
                    }
                }
            }).set(this.$.display, {
                rotationX: this.direction === 'down' ? '90deg' : '-90deg'
            }).to(this.$.display, this.duration / 2, {
                rotationX: 0,
                ease: this.easeOut
            })
        },

        fit: function(containerEl, str) {
            return;

            // Make containerEl param optional.
            if (typeof str === 'undefined' && typeof containerEl === 'string') {
                str = containerEl;
                containerEl = null;
            }

            // Default containerEl to the parent node.
            containerEl = containerEl || this.parentNode;
            var containerWidth = this._getElementContentWidth(containerEl);

            // If the str argument was provided, use the measured width of that string for further calculations.
            // Otherwise, use the actual current width of the element.
            var width;
            if (str) {
                this.$.yardstick.innerHTML = str;
                width = this.$.yardstick.scrollWidth;
            } else {
                width = this.scrollWidth;
            }

            // If the element is wider than the container, scale it down the minimum amount required to make it fit.
            // Otherwise, scale it back to normal.
            if (width > containerWidth) {
                TweenLite.set(this, {scaleX: containerWidth / width});
            } else {
                TweenLite.set(this, {scaleX: 1});
            }
        },

        _getElementContentWidth: function (element) {
            var styles = window.getComputedStyle(element);
            var padding = parseFloat(styles.paddingLeft) + parseFloat(styles.paddingRight);
            return element.clientWidth - padding;
        }
    });
</script>
