<link rel="import" href="../../components/polymer/polymer.html">

<dom-module id="sgdq-qplate">
    <style is="custom-style">
        :host {
            display: block;
            transform-style: preserve-3d;
        }

        #display,
        #yardstick {
            display: flex;
            backface-visibility: hidden;
            align-items: center;
            white-space: nowrap;
            @apply(--sgdq-qplate-face-style);
        }

        #yardstick {
            position: absolute;
            opacity: 0;
        }
    </style>

    <template>
        <div id="display" class="face"></div>
        <div id="yardstick" class="face"></div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-qplate',

        properties: {
            direction: {
                type: String,
                value: 'down'
            },
            duration: {
                type: Number,
                value: 0.7
            },
            easeIn: {
                type: Object,
                value: Back.easeIn.config(2)
            },
            easeOut: {
                type: Object,
                value: Back.easeOut.config(2)
            },
            autoFit: {
                type: Boolean,
                value: true
            },
            originDist: {
                type: Number,
                value: '7',
                observer: 'onOriginDistChanged'
            }
        },

        onOriginDistChanged: function(newVal) {
            TweenLite.set(this.$.display, {transformOrigin: 'left center -' + newVal + 'px'});
        },

        /*
         * Methods
         */
        flipTo: function(str) {
            if (typeof str === 'undefined') return;

            var self = this;
            var tl = new TimelineLite();

            tl.to(this.$.display, this.duration / 2, {
                rotationX: this.direction === 'down' ? '-90deg' : '90deg',
                ease: this.easeIn,
                onComplete: function() {
                    self.$.display.innerHTML = str;
                    if (self.autoFit) {
                        self.fit(str);
                    }
                }
            }).set(this.$.display, {
                rotationX: this.direction === 'down' ? '90deg' : '-90deg'
            }).to(this.$.display, this.duration / 2, {
                rotationX: 0,
                ease: this.easeOut
            })
        },

        fit: function(containerEl, str) {
            // Make containerEl param optional.
            if (typeof str === 'undefined' && typeof containerEl === 'string') {
                str = containerEl;
                containerEl = null;
            }

            // Default containerEl to the parent node.
            containerEl = containerEl || this.parentNode;
            var containerWidth = this._getElementContentWidth(containerEl);

            // If the str argument was provided, use the measured width of that string for further calculations.
            // Otherwise, use the actual current width of the element.
            var width;
            if (str) {
                this.$.yardstick.innerHTML = str;
                width = this.$.yardstick.scrollWidth;
            } else {
                width = this.scrollWidth;
            }

            // If the element is wider than the container, scale it down the minimum amount required to make it fit.
            // Otherwise, scale it back to normal.
            if (width > containerWidth) {
                TweenLite.set(this, {scaleX: containerWidth / width});
            } else {
                TweenLite.set(this, {scaleX: 1});
            }
        },

        _getElementContentWidth: function (element) {
            var styles = window.getComputedStyle(element);
            var padding = parseFloat(styles.paddingLeft) + parseFloat(styles.paddingRight);
            return element.clientWidth - padding;
        }
    });
</script>
