div(style="display: flex;")
    .column
        .ncg-label(style="margin-top: 0px;") IMAGES
        #sgdq-ad-images
        #sgdq-adImage-status
        #sgdq-adImage-buttons
            button.btn.btn-xs.btn-default.ctrl-hideImage(type="button") Hide Image
    .column
        .ncg-label(style="margin-top: 0px;") VIDEOS
        #sgdq-ad-videos
        #sgdq-adVideo-buttons
            button.btn.btn-xs.btn-default.ctrl-ftb(type="button" title="Fade to Black") FTB
            button.btn.btn-xs.btn-default.ctrl-stopVideo(type="button") Stop Video
