.ncg-label(style="margin-top: 0") SHOW A SPECIFIC PRIZE
.input-group
    input.typeahead.form-control(type="text" placeholder="Type a prize")
    span.input-group-btn
        button.btn.btn-success.ctrl-send
            i.fa.fa-eye
