.ncg-label(style="margin-top: 0") NAMES
.input-group
    input#sgdq15-interviewName1.form-control(type="text" placeholder="First name")
    span.input-group-btn
        button#sgdq15-interviewCancel1.btn.btn-danger
            i.fa.fa-times
        button#sgdq15-interviewSubmit1.btn.btn-success
            i.fa.fa-eye
.input-group
    input#sgdq15-interviewName2.form-control(type="text" placeholder="Second name")
    span.input-group-btn
        button#sgdq15-interviewCancel2.btn.btn-danger
            i.fa.fa-times
        button#sgdq15-interviewSubmit2.btn.btn-success
            i.fa.fa-eye
.input-group
    input#sgdq15-interviewName3.form-control(type="text" placeholder="Third name")
    span.input-group-btn
        button#sgdq15-interviewCancel3.btn.btn-danger
            i.fa.fa-times
        button#sgdq15-interviewSubmit3.btn.btn-success
            i.fa.fa-eye
.input-group
    input#sgdq15-interviewName4.form-control(type="text" placeholder="Fourth name")
    span.input-group-btn
        button#sgdq15-interviewCancel4.btn.btn-danger
            i.fa.fa-times
        button#sgdq15-interviewSubmit4.btn.btn-success
            i.fa.fa-eye

.ncg-label DISPLAY
.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group
            button.btn.btn-xs.btn-primary#sgdq15-interviewUpdateAll Update all names
    .btn-group.btn-group-justified
        .btn-group
            button.btn.btn-xs.btn-success#sgdq15-interviewShow Show
        .btn-group
            button.btn.btn-xs.btn-danger#sgdq15-interviewHide Hide
