.ncg-label(style="margin-top: 0") SINGLE ITEM
.input-group
    input.typeahead.form-control(type="text" placeholder="Type a bid or prize")
    span.input-group-btn
        button.btn.btn-success.ctrl-send
            i.fa.fa-eye


.ncg-label ROTATION GROUP
button.btn.btn-xs.btn-primary.ctrl-currentBids(type="button") Show Current Bids
button.btn.btn-xs.btn-primary.ctrl-currentPrizes(type="button") Show Current Prizes
button.btn.btn-xs.btn-primary.ctrl-upNext(type="button") Show Next Run
button.btn.btn-xs.btn-primary.ctrl-cta(type="button") Show Call-to-Action

.ncg-label CUSTOM MESSAGE
.input-group
    input.form-control.ctrl-gdqMonitorText(type="text" placeholder="Custom message")
    span.input-group-btn
        button.btn.btn-success.ctrl-gdqMonitor
            i.fa.fa-eye
