link(rel="import" href="/components/iron-input/iron-input.html")
link(rel="import" href="/components/paper-input/paper-input-container.html")

paper-input-container#papercontainer
    input(type="text", list="dl", is="iron-input")
    datalist#dl
        option(value="a")
        option(value="ab")
        option(value="ac")
        option(value="ffa")
        option(value="qwer")
        option(value="grae")
