.ncg-label(style="margin-top: 0") ON-DEMAND PROMPT
.input-group
    input.typeahead.form-control(type="text" placeholder="Bid, prize, or speedrun")
    span.input-group-btn
        span.btn.btn-xs.btn-success.js-manualBtn(style="height: 35px;")
            i.fa.fa-arrow-right
