link(rel="import" href="/view/sgdq15-layouts/elements/sgdq-stopwatch-control/sgdq-stopwatch-control.html")

sgdq-stopwatch-control(index=0)
sgdq-stopwatch-control(index=1)
sgdq-stopwatch-control(index=2)
sgdq-stopwatch-control(index=3)

.ncg-btn-group.stopwatch-master-ctrls
    .btn-group.btn-group-justified
        .btn-group
            button.btn.btn-xs.btn-success(type="button" name="playAll")
                i.fa.fa-play
                | &ensp;Start All
        .btn-group
            button.btn.btn-xs.btn-warning(type="button" name="pauseAll")
                i.fa.fa-pause
                | &ensp;Pause All
        .btn-group
            button.btn.btn-xs.btn-danger(type="button" name="resetAll")
                i.fa.fa-undo
                | &ensp;Reset All
