mixin stopwatch
    .stopwatch
        .stopwatch-status
            span.stopwatch-status-time 88:88:88
            span.stopwatch-status-runner ?
        .stopwatch-ctrls
            i.fa.fa-play.stopwatch-ctrls-playpause(title="Start/Resume")
            i.fa.fa-pencil-square-o.stopwatch-ctrls-edit(title="Edit")
            i.fa.fa-undo.stopwatch-ctrls-reset(title="Reset")

+stopwatch
+stopwatch
+stopwatch
+stopwatch

.ncg-btn-group.stopwatch-master-ctrls
    .btn-group.btn-group-justified
        .btn-group
            button.btn.btn-xs.btn-success(type="button" name="playAll")
                i.fa.fa-play
                | &ensp;Start All
        .btn-group
            button.btn.btn-xs.btn-warning(type="button" name="pauseAll")
                i.fa.fa-pause
                | &ensp;Pause All
        .btn-group
            button.btn.btn-xs.btn-danger(type="button" name="resetAll")
                i.fa.fa-undo
                | &ensp;Reset All
