.stopwatch {
  display: flex;
  align-items: center;
}
.stopwatch-status {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  padding-right: 0.5em;
}
.stopwatch-status-time {
  font-weight: bold;
  margin-bottom: -0.25em;
}
.stopwatch-status-runner {
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.stopwatch-ctrls {
  display: flex;
  flex-shrink: 0;
}
.stopwatch-ctrls i {
  margin-left: 0.3em;
  margin-right: 0.3em;
  cursor: pointer;
}
.stopwatch-ctrls i:first-child {
  margin-left: 0;
  margin-right: 0.3em;
}
.stopwatch-ctrls i:last-child {
  margin-left: 0.3em;
}
.stopwatch-ctrls .fa-play {
  color: #43ac6a;
}
.stopwatch-ctrls .fa-play:hover {
  color: #358753;
}
.stopwatch-ctrls .fa-pause {
  color: #e99002;
}
.stopwatch-ctrls .fa-pause:hover {
  color: #b67102;
}
.stopwatch-ctrls .fa-undo {
  color: #f04124;
}
.stopwatch-ctrls .fa-undo:hover {
  color: #d32a0e;
}
