.sgdq15-layouts .tt-dataset,
.sgdq15-layouts .tt-suggestion {
  width: 100%;
}
.sgdq15-layouts .tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}
.sgdq15-layouts .tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.sgdq15-layouts .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.sgdq15-layouts .tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}
.sgdq15-layouts .tt-suggestion .result-aux {
  float: right;
  font-style: italic;
}
.sgdq15-layouts .tt-suggestion .result-main {
  font-size: 14px;
  font-weight: bold;
}
.sgdq15-layouts .tt-suggestion-topline {
  margin-bottom: 4px;
}
