<link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"/>
<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../sgdq-qplate/sgdq-qplate.html"/>

<dom-module id="sgdq-runner">
    <style>
        :host {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            font-size: 18px;
            text-align: center;
        }

        hr {
            height: 2px;
            margin: 0 calc(-0.4em - 5px);
            border: 1px solid black;
            border-radius: 2px;
            background-color: #2496b8;
        }

        hr.hideLeftCap.hideRightCap {
            margin-left: 16%;
            margin-right: 16%;
        }

        #bezels {
            z-index: 1;
        }

        .bezel {
            position: absolute;
            box-sizing: border-box;
            width: 12px;
            height: calc(100% + 6px);
            background-color: #015670;
            border: 1px solid black;
            border-radius: 3px;
            top: -3px;
        }

        .bezel-left {
            left: 0;
            transform: translate(-50%, 0%);
        }

        .bezel-left.hideLeftCap {
            display: none;
        }

        .bezel-right {
            right: 0;
            transform: translate(50%, 0%);
        }

        .bezel-right.hideRightCap {
            display: none;
        }

        #runnerInfoContainer {
            background-color: #ade1f5;
            border-left: 1px solid black;
            border-right: 1px solid black;
            color: black;
            font-family: "tablet-gothic-wide";
            font-weight: 700;
            margin-left: 5px;
            margin-right: 5px;
            perspective: 2000px;
        }

        #runnerInfo {
            display: inline-block;
            vertical-align: top;
        }

        #runnerInfoContainer,
        #timeContainer {
            padding-left: 0.4em;
            padding-right: 0.4em;
        }

        #timeContainer {
            background-color: #015670;
            border-left: 1px solid black;
            border-right: 1px solid black;
            margin-left: 5px;
            margin-right: 5px;
        }

        #timeContainer.hideLeftCap {
            align-self: flex-end;
        }

        #timeContainer.hideRightCap {
            align-self: flex-start;
        }

        #timeContainer.hideLeftCap.hideRightCap {
            margin-left: 17%;
            margin-right: 17%;
        }

        #time {
            height: 1.237em;
            font-family: "gamegirl_classic";
            font-size: 1.167em;
            color: white;
            line-height: 108%;
            transform-origin: left;
        }

        sgdq-qplate /deep/ .fa {
            margin-right: 0.3em;
            margin-top: 0.3em;
        }

        sgdq-qplate /deep/ .face {
            margin-top: -0.06em;
        }
    </style>

    <template>
        <div id="bezels">
            <div class$="{{hideCaps(hideLeftCap, hideRightCap, 'bezel bezel-left')}}"></div>
            <div class$="{{hideCaps(hideLeftCap, hideRightCap, 'bezel bezel-right')}}"></div>
        </div>

        <div id="runnerInfoContainer">
            <hr/>
            <sgdq-qplate id="runnerInfo" debounce-time=300></sgdq-qplate>
            <hr/>
        </div>
        <div id="timeContainer" class$="{{hideCaps(hideLeftCap, hideRightCap, '')}}">
            <div id="time">{{time}}</div>
            <hr/>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-runner',

        properties: {
            index: {
                type: Number,
                value: 0,
                reflectToAttribute: true
            },
            tl: {
                type: Object,
                value: new TimelineLite({autoRemoveChildren: true}),
                readOnly: true
            },
            hideLeftCap: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },
            hideRightCap: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },
            hideIfEmpty: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },
            handle: String,
            handleElement: {
                type: Object,
                observer: 'handleChange'
            },
            streamlink: String,
            streamlinkElement: {
                type: Object,
                observer: 'handleChange',
                computed: 'computeStreamlinkElement(streamlink)'
            }
        },

        handleChange: function() {
            this.runnerInfoTl.pause();

            // If no handle nor streamlink, just show '?'.
            // Else, if the handle and streamlink are identical, just show the streamlink.
            // Else, if there is a handle but no streamlink, just show the streamlink.
            // Else, restart the timeline and alternate between both.
            if (!this.handle && !this.streamlink) {
                this.$.runnerInfo.fillHopperText('?');
            } else if (this.handle === this.streamlink) {
                this.$.runnerInfo.fillHopper(this.streamlinkElement);
            } else if (this.handle && !this.streamlink) {
                this.$.runnerInfo.fillHopperText(this.handle);
            } else {
                this.runnerInfoTl.restart();
            }
        },

        computeStreamlinkElement: function(streamlink) {
            var span = document.createElement('span');
            var twitchIcon = document.createElement('i');
            var channelName = document.createElement('span');
            twitchIcon.classList.add('fa', 'fa-twitch');
            channelName.innerText = streamlink;
            span.appendChild(twitchIcon);
            span.appendChild(channelName);
            return span;
        },

        /*
         * Lifecycle
         */
        ready: function() {
            var self = this;

            self.hideIfEmptyTL = new TimelineLite({paused: true});
            if (self.hideIfEmpty) {
                self.hideIfEmptyTL
                    .to(self, 0.75, {opacity: 0})
                    .to(self, 0.25, {marginTop: 0, height: 0});
            }


            nodecg.Replicant('currentRun')
                    .on('change', function(oldVal, newVal) {
                        if (newVal.runners[self.index]) {
                            self.handle = newVal.runners[self.index];
                            self.streamlink = newVal.streamlinks[self.index];
                            self.hideIfEmptyTL.reverse();
                        } else {
                            self.hideIfEmptyTL.play();
                        }
                    });

            nodecg.Replicant('stopwatches')
                    .on('change', function(oldVal, newVal) {
                        if (!newVal) return;
                        self.time = newVal[self.index].time || '88:88:88';

                        self._scaleTextElements(self.$.timeContainer, [self.$.time]);

                        switch (newVal[self.index].state) {
                            case 'paused':
                                self.$.timeContainer.style.backgroundColor = '#6b8b95';
                                break;
                            case 'finished':
                                self.$.timeContainer.style.backgroundColor = '#29813f';
                                break;
                            default:
                                self.$.timeContainer.style.backgroundColor = '#015670';
                        }
                    });

            // By default, show '?'
            self.$.runnerInfo.fillHopperText('?');

            // Create repeating timeline to alternate between showing the runner's display name and
            // their stream link.
            var RUN_INFO_DISPLAY_DURATION = 4;
            self.runnerInfoTl = new TimelineMax({repeat: -1, paused: true});
            self.runnerInfoTl.to({}, 0.01, {
                onComplete: function() {
                    self.$.runnerInfo.fillHopperText(self.handle);
                }
            });
            self.runnerInfoTl.to({}, RUN_INFO_DISPLAY_DURATION, {
                onStart: function() {
                    self.$.runnerInfo.fillHopper(self.streamlinkElement);
                }
            }, '+=' + RUN_INFO_DISPLAY_DURATION);
        },

        /*
         * Methods
         */
        _getElementContentWidth: function (element) {
            var styles = window.getComputedStyle(element);
            var padding = parseFloat(styles.paddingLeft) + parseFloat(styles.paddingRight);
            var border = parseFloat(styles.borderLeft) + parseFloat(styles.borderRight);
            return element.clientWidth - padding - border;
        },

        _scaleTextElements: function (container, elements) {
            var containerWidth = this._getElementContentWidth(container);

            elements.forEach(function(el) {
                var elWidth = el.scrollWidth;
                if (elWidth > containerWidth) {
                    TweenLite.set(el, {scaleX: containerWidth / elWidth});
                } else {
                    TweenLite.set(el, {scaleX: 1});
                }
            });
        },

        // this is dumb zzz
        // http://stackoverflow.com/a/30607783
        hideCaps: function(hideLeft, hideRight, classes) {
            return classes + (hideLeft ? ' hideLeftCap ' : '') + (hideRight ? ' hideRightCap' : '');
        }
    });
</script>
