<link rel="import" href="../../components/polymer/polymer.html"/>

<dom-module id="sgdq-runner">
    <style>
        :host {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            font-size: 18px;
            text-align: center;
        }

        hr {
            height: 2px;
            margin: 0 calc(-0.4em - 5px);;
            border: 1px solid black;
            border-radius: 2px;
            background-color: #2496b8;
        }

        hr.hideLeftCap.hideRightCap {
            margin-left: 16%;
            margin-right: 16%;
        }

        .bezel {
            position: absolute;
            box-sizing: border-box;
            width: 12px;
            height: calc(100% + 6px);
            background-color: #015670;
            border: 1px solid black;
            border-radius: 3px;

            top: -3px;
        }

        .bezel-left {
            left: 0;
            transform: translate(-50%, 0%);
        }

        .bezel-left.hideLeftCap {
            display: none;
        }

        .bezel-right {
            right: 0;
            transform: translate(50%, 0%);
        }

        .bezel-right.hideRightCap {
            display: none;
        }

        #runnerInfo {
            background-color: #ade1f5;
            border-left: 1px solid black;
            border-right: 1px solid black;
            color: black;
            font-family: "tablet-gothic-wide";
            font-weight: 700;
            margin-left: 5px;
            margin-right: 5px;
        }

        #handle,
        #streamlink {
            height: 1.444em;
            transform: translateY(-0.09em);
            white-space: nowrap;
            transform-origin: left;
        }

        #runnerInfo,
        #timeContainer {
            padding-left: 0.4em;
            padding-right: 0.4em;
        }

        #timeContainer {
            background-color: #015670;
            border-left: 1px solid black;
            border-right: 1px solid black;
            margin-left: 5px;
            margin-right: 5px;
        }

        #timeContainer.hideLeftCap {
            align-self: flex-end;
        }

        #timeContainer.hideRightCap {
            align-self: flex-start;
        }

        #timeContainer.hideLeftCap.hideRightCap {
            margin-left: 17%;
            margin-right: 17%;
        }

        #time {
            height: 1.237em;
            font-family: "gamegirl_classic";
            font-size: 1.167em;
            color: white;
            line-height: 100%;
            transform-origin: left;
        }
    </style>

    <template>
        <div id="bezels">
            <div class$="{{hideCaps(hideLeftCap, hideRightCap, 'bezel bezel-left')}}"></div>
            <div class$="{{hideCaps(hideLeftCap, hideRightCap, 'bezel bezel-right')}}"></div>
        </div>

        <div id="runnerInfo">
            <hr/>
            <div id="handle">{{handle}}</div>
            <div id="streamlink">{{streamlink}}</div>
            <hr/>
        </div>
        <div id="timeContainer" class$="{{hideCaps(hideLeftCap, hideRightCap, '')}}">
            <div id="time">{{time}}</div>
            <hr/>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-runner',

        properties: {
            index: {
                type: Number,
                value: 0,
                reflectToAttribute: true,
                observer: 'indexChanged'
            },
            tl: {
                type: Object,
                value: new TimelineLite({autoRemoveChildren: true}),
                readOnly: true
            },
            hideLeftCap: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },
            hideRightCap: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            }
        },

        indexChanged: function(newVal) {

        },

        /*
         * Lifecycle
         */
        ready: function() {
            // Prep for animation
            this.$.streamlink.style.display = 'none';

            var self = this;
            nodecg.Replicant('currentRun')
                    .on('change', function(oldVal, newVal) {
                        var runner = newVal.runners[self.index];
                        self.handle = runner || '?';

                        var streamlink = newVal.streamlinks[self.index];
                        self.streamlink = streamlink || '?';


                        self._scaleTextElements(self.$.runnerInfo, [self.$.handle, self.$.streamlink]);
                    });

            nodecg.Replicant('stopwatches')
                    .on('change', function(oldVal, newVal) {
                        if (!newVal) return;
                        self.time = newVal[self.index].time || '88:88:88';

                        self._scaleTextElements(self.$.timeContainer, [self.$.time]);

                        switch (newVal[self.index].state) {
                            case 'paused':
                                self.$.timeContainer.style.backgroundColor = '#6b8b95';
                                break;
                            case 'finished':
                                self.$.timeContainer.style.backgroundColor = '#29813f';
                                break;
                            default:
                                self.$.timeContainer.style.backgroundColor = '#015670';
                        }
                    });
        },

        /*
         * Methods
         */
        _getElementContentWidth: function (element) {
            var styles = window.getComputedStyle(element);
            var padding = parseFloat(styles.paddingLeft) + parseFloat(styles.paddingRight);
            var border = parseFloat(styles.borderLeft) + parseFloat(styles.borderRight);
            return element.clientWidth - padding - border;
        },

        _scaleTextElements: function (container, elements) {
            var containerWidth = this._getElementContentWidth(container);

            elements.forEach(function(el) {
                var elWidth = el.scrollWidth;
                if (elWidth > containerWidth) {
                    TweenLite.set(el, {scaleX: containerWidth / elWidth});
                } else {
                    TweenLite.set(el, {scaleX: 1});
                }
            });
        },

        // this is dumb zzz
        // http://stackoverflow.com/a/30607783
        hideCaps: function(hideLeft, hideRight, classes) {
            return classes + (hideLeft ? ' hideLeftCap ' : '') + (hideRight ? ' hideRightCap' : '');
        }
    });
</script>
