<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../sgdq-qplate/sgdq-qplate.html"/>

<dom-module id="sgdq-omnibar">
    <style>
        :host {
            display: flex;
            position: absolute;
            width: 1280px;
            bottom: 0;
            left: 0;
            color: white;
            font-family: "tablet-gothic";
            z-index: 10;
            align-items: flex-end;
        }

        #main {
            display: inline-flex;
            height: 53px;
            background: url("main_bg.png") repeat-x;
            border-top: 2px solid #95b1c3;
            flex-grow: 1;
            align-items: flex-end;
        }

        #head {
            display: inline-flex;
            align-items: flex-end;
            height: 100%;
            flex-shrink: 0;
        }

        #logoContainer {
            width: 118px;
            height: 100%;
            margin-right: -5px;
            background: url("logo_bg.png") no-repeat;
            z-index: 1;
        }

        #logo {
            margin-left: 6px;
            width: 92px;
            height: 100%;
            background: url("logo_gdq.png") no-repeat center;
        }

        #labelContainer {
            display: flex;
            width: 147px;
            height: 100%;
            padding-left: 5px;
            border-right: 2px solid white;
            text-align: center;
            background: url("label_bg.png") no-repeat right;
            background-color: #103A4E;
            align-items: center;
        }

        #label {
            width: 100%;
            font-weight: 400;
            line-height: 22px;
            margin-top: -3px;
        }

        #body {
            display: flex;
            height: 100%;
            padding-left: 10px;
            padding-right: 12px;
            white-space: nowrap;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            perspective: 2000px;
        }

        #twoLines {
            display: block;
            width: 100%;
            height: 100%;
        }

        #topLine {
            font-family: "tablet-gothic-narrow";
            font-weight: 600;
            font-size: 18px;
            font-style: italic;
            text-transform: uppercase;
            transform-origin: left;
            margin-bottom: -13px; /* easiest way to position both this and #bottomLine properly */
        }

        #topLine .closed {
            opacity: 0.75;
        }

        #bottomLine {
            font-weight: 500;
            font-size: 26px;
            transform-origin: left;
        }

        #bottomLine .closed-green {
            color: #a7d385;
        }

        #bottomLine .closed-red {
            color: #d38585;
        }

        #fullLine {
            font-size: 28px;
            font-family: "tablet-gothic";
            font-weight: 400;
        }

        #fullLine .flexCenter {
            display: flex;
            align-items: center;
        }

        /* Hilarious hack to get the text to appear more vertically centered */
        #fullLine span {
            transform: translateY(-2px);
        }

        #fullLine b {
            font-weight: 700;
        }

        #msf {
            background: url("logo_msf.png") no-repeat;
            width: 147px;
            height: 47px;
            margin-left: 18px;
        }

        #totalContainer {
            flex-shrink: 0;
        }

        #total {
            height: 61px;
            line-height: 57px;
            margin-left: -2px;
            padding-left: 11px;
            padding-right: 11px;
            text-align: center;
            background: url("total_bg.png") no-repeat left;
            align-items: center;
            text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.35);
            font-family: "tablet-gothic-narrow";
            font-weight: 700;
            font-size: 45px;
        }

        #totalDollarSign {
            font-size: 30px;
            margin-right: -7px;
        }
    </style>

    <template>
        <div id="main">
            <div id="head">
                <div id="logoContainer">
                    <div id="logo"></div>
                </div>
                <div id="labelContainer">
                    <div id="label">UP NEXT</div>
                </div>
            </div>
            <div id="body">
                <div id="twoLines">
                    <sgdq-qplate id="topLine" origin-dist="5"></sgdq-qplate>
                    <sgdq-qplate id="bottomLine" direction="up" origin-dist="7"></sgdq-qplate>
                </div>
                <sgdq-qplate id="fullLine" center origin-dist="12"></sgdq-qplate>
            </div>
        </div>
        <div id="totalContainer">
            <div id="total">
                <span id="totalDollarSign">$</span>
                <span id="totalCash"></span>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-omnibar',

        properties: {
            tl: {
                type: Object,
                value: new TimelineLite({autoRemoveChildren: true}),
                readOnly: true
            },
            displayDuration: {
                type: Number,
                value: 10,
                readOnly: true
            },
            lastShownGrandPrizeIdx: {
                type: Number,
                value: -1
            },
            total: {
                type: String,
                value: '$0',
                observer: 'totalChanged'
            }
        },

        totalChanged: function(newVal) {
            var self = this;
            TweenLite.to(this.$.totalCash, 0.5, {
                text: newVal.replace('$', ''),
                ease: Linear.easeNone,
                onUpdate: function() {
                    self.$.topLine.fit();
                    self.$.bottomLine.fit();
                }
            });
        },

        /*
         * Lifecycle
         */
        ready: function () {
            var self = this;

            // Prep all elements for animation
            TweenLite.set(this.$.labelContainer, {x: '-100%'});

            // Set up Replicants
            nodecg.Replicant('currentBids')
                    .on('change', function (oldVal, newVal) {
                        window.currentBids = newVal;
                    });

            nodecg.Replicant('currentPrizes')
                    .on('change', function (oldVal, newVal) {
                        window.currentGrandPrizes = newVal.filter(function (prize) {
                            return prize.grand;
                        });
                        window.currentNormalPrizes = newVal.filter(function (prize) {
                            return !prize.grand;
                        });
                        window.currentNormalPrizes = window.currentNormalPrizes.slice(0, 5);
                    });

            nodecg.Replicant('schedule')
                    .on('declared', function() {
                        // Don't declare the "currentRun" replicant until the schedule replicant is declared
                        nodecg.Replicant('currentRun')
                                .on('change', function (oldVal, newVal) {
                                    window.currentRun = newVal;

                                    // If this is the last run, set next run to null
                                    if (newVal.index === window.schedule.length - 1) {
                                        window.nextRun = null;
                                    } else {
                                        window.nextRun = window.schedule[newVal.index + 1];
                                    }
                                });
                    })
                    .on('change', function (oldVal, newVal) {
                        window.schedule = newVal;
                        if (window.currentRun) {
                            var len = newVal.length;
                            for (var i = 0; i < len; i++) {
                                if (window.currentRun.game === newVal[i].game) {
                                    var newIndexOfCurrentRun = newVal[i].index;
                                    break;
                                }
                            }

                            window.nextRun = newVal[newIndexOfCurrentRun + 1];
                        } else {
                            // default "nextRun" to second run
                            window.nextRun = newVal[1];
                        }
                    });

            nodecg.Replicant('total')
                    .on('change', function (oldVal, newVal) {
                        self.total = newVal;
                    });

            nodecg.listenFor('barDemand', function(data) {
                switch (data.type) {
                    case 'bid':
                        self.showBid(data, true);
                        break;
                    case 'prize':
                        self.showPrize(data, true);
                        break;
                }
            });

            nodecg.listenFor('barCurrentBids', function() {
                self.showBids(true);
            });

            nodecg.listenFor('barCurrentPrizes', function() {
                self.showPrizes(true);
            });

            nodecg.listenFor('barUpNext', function() {
                self.showNext(true);
            });

            nodecg.listenFor('barCTA', function() {
                self.showCTA(true);
            });

            nodecg.listenFor('barGDQMonitor', function(message) {
                self.showGDQMonitor(message);
            });

            // Bids are the first thing we show, so we use this to start our loop
            self.showCTA();
        },

        /*
         * Methods
         */

        showGDQMonitor: function(message) {
            if (typeof message === 'undefined' || message === '') return;

            var self = this;

            // Create scrolling elements
            // Only scrolls when needed, otherwise centered
            // Based on gxl-credits, modified to be horizontal

            var trackerWidth = self.$.totalContainer.offsetWidth;

            var outer = document.createElement('div');
            var outerWidth = 1145 - trackerWidth;
            outer.style.width = outerWidth + 'px';
            outer.style.height = '50px';
            outer.style.textAlign = 'center';
            outer.style['-webkit-mask-image'] = '-webkit-linear-gradient(left, #000000 96%, rgba(0, 0, 0, 0) 100%)';

            var inner = document.createElement('div');
            inner.style.paddingLeft = '25px';
            inner.style['-webkit-mask-image'] = '-webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 4%, #000000 98%, rgba(0, 0, 0, 0) 100%)';

            var text = document.createElement('span');
            text.style.position = 'relative';

            text.innerHTML = message;
            inner.appendChild(text);
            outer.appendChild(inner);

            // scroll at constant speed of ???px/sec regardless of content length
            // thus variable duration, calculate here
            var width = 0;
            var containerWidth = outerWidth - 50;

            var speed = 75; // px/sec
            var distance = 0;
            var scrollDuration = 0;

            // Always immediate
            this.tl.clear();

            this.tl.add('showGDQMonitor_start');
            this.tl.add(this._hideLabel(), 'showGDQMonitor_start');

            this.tl.set(this.$.fullLine, {display: 'block'});
            this.tl.call(function() {
                self.$.fullLine.autoFit = false;
                self.$.fullLine.removeAttribute('center');
                self.$.fullLine.fillHopper(outer);
            });

            // Need to wait for text to be added to DOM inside the display div
            this.$.fullLine.addEventListener('flipped', function flipped() {
                self.$.fullLine.removeEventListener('flipped', flipped);
                text = self.$.fullLine.$$('span');

                // scroll at constant speed of ???px/sec regardless of content length
                // thus variable duration, calculate here
                width = text.offsetWidth;
                distance = width - containerWidth;
                scrollDuration = Math.max(0, distance / speed);

                // Distance will be negative if we don't need to scroll
                if (distance > 0) {
                    self.tl.to(text, scrollDuration, {
                        left: -distance + 'px',
                        ease: Linear.easeNone,
                        autoRound: false
                    }, '+=' + (((self.displayDuration+scrollDuration)/2) - (scrollDuration/2)));
                }

                self.tl.call(function() {
                    self.$.fullLine.fillHopperText('');
                }, null, null, 'showGDQMonitor_start+=' + (self.displayDuration + scrollDuration + self.$.fullLine.duration));
                self.tl.set(self.$.fullLine, {display: 'none'}, '+=' + self.$.fullLine.duration);
                self.tl.call(function(){
                    self.$.fullLine.autoFit = true;
                    self.showBids();
                });
            });
        },

        showBids: function (immediate) {
            var self = this;
            if (immediate) this.tl.clear();

            if (window.currentBids.length > 0) {
                var showedLabel = false;

                // Figure out what bids to display in this batch
                var bidsToDisplay = [];
                window.currentBids.forEach(function(bid) {
                    // Don't show closed bids in the automatic rotation.
                    if (bid.state.toLowerCase() === 'closed') return;

                    // We have at least one bid to show, so show the label
                    if (!showedLabel) {
                        showedLabel = true;
                        self.tl.call(self._showLabel, ['DONATION BIDS', '25px'], self);
                    }

                    // If we have already have our three bids determined, we still need to check
                    // if any of the remaining bids are for the same speedrun as the third bid.
                    // This ensures that we are never displaying a partial list of bids for a given speedrun.
                    if (bidsToDisplay.length < 3) {
                        bidsToDisplay.push(bid);
                    } else if (bid.speedrun === bidsToDisplay[bidsToDisplay.length - 1].speedrun) {
                        bidsToDisplay.push(bid);
                    }
                });

                // Loop over each bid and queue it up on the timeline
                bidsToDisplay.forEach(function(bid) {
                    self.showBid(bid);
                });
            }

            this.tl.call(this.showPrizes, null, this, '+=0.01');
        },

        showBid: function (bid, immediate) {
            var self = this;
            if (immediate) {
                this.tl.clear();
                this.tl.call(this._showLabel, ['DONATION BIDS', '25px'], this);
            }

            var topSpan = document.createElement('span');
            var bottomSpan = document.createElement('span');
            topSpan.innerHTML = bid.description;

            // If this bid is closed, add the "closed" class to its spans, and append "(CLOSED)" to the top line.
            if (bid.state.toLowerCase() === 'closed') {
                topSpan.innerHTML += ' (CLOSED)';
                topSpan.classList.add('closed');
                bottomSpan.classList.add('closed');

                // If this bid is an incentive, add .closed-green or .closed-red depending on if it met the goal or not.
                if (!bid.options) {
                    bottomSpan.classList.add(bid.goalMet ? 'closed-green' : 'closed-red');
                }
            }

            // GSAP is dumb with `call` sometimes. Putting this in a near-zero duration tween seems to be more reliable.
            this.tl.to({}, 0.01, {
                onComplete: function() {
                    self.$.topLine.fillHopper(topSpan);
                }
            });

            // If this is a donation war, up to three options for it.
            // Else, it must be a normal incentive, so show its total amount raised and its goal.
            if (bid.options) {
                // If there are no options yet, display a message.
                if (bid.options.length === 0) {
                    this.tl.call(function() {
                        bottomSpan.innerHTML = 'Be the first to bid!';
                        self.$.bottomLine.fillHopper(bottomSpan);
                    }, null, null, '+=0.08');
                } else {
                    bid.options.forEach(function(option, index) {
                        if (index > 2) return;
                        self.tl.call(function() {
                            // If this bid is closed, add .closed-green to the first (winning) option.
                            // Add .closed-red to the others.
                            if (bid.state.toLowerCase() === 'closed') {
                                if (index === 0) {
                                    bottomSpan.classList.add('closed-green');
                                } else {
                                    bottomSpan.classList.remove('closed-green');
                                    bottomSpan.classList.add('closed-red');
                                }
                            }

                            bottomSpan.innerHTML = (index + 1) + '. ' + (option.description || option.name) + ' - ' + option.total;
                            self.$.bottomLine.fillHopper(bottomSpan);
                        }, null, null, '+=' + (0.08 + (index * 4)));
                    })
                }
            } else {
                this.tl.call(function() {
                    bottomSpan.innerHTML = bid.total + ' / ' + bid.goal;
                    self.$.bottomLine.fillHopper(bottomSpan);
                }, null, null, '+=0.08');
            }

            // Give the bid some time to show
            this.tl.to({}, this.displayDuration, {});

            // If we're just showing this one bid on-demand, show "Prizes" next.
            if (immediate) this.tl.call(this.showPrizes, null, this, '+=0.01');
        },

        showPrizes: function (immediate) {
            var self = this;
            if (immediate) this.tl.clear();

            if (window.currentGrandPrizes.length > 0 || window.currentNormalPrizes.length > 0) {
                this.tl.call(this._showLabel, ['RAFFLE PRIZES', '25px'], this);

                var prizesToDisplay = window.currentNormalPrizes.slice(0);
                if (window.currentGrandPrizes.length) {
                    // Figure out what grand prize to show in this batch.
                    var lastShownGrandPrizeIdx = window.currentGrandPrizes.indexOf(this.lastShownGrandPrize);
                    var nextGrandPrizeIdx = lastShownGrandPrizeIdx >= window.currentGrandPrizes.length - 1
                            ? 0
                            : lastShownGrandPrizeIdx + 1;
                    var nextGrandPrize = window.currentGrandPrizes[nextGrandPrizeIdx];
                    if (nextGrandPrize) prizesToDisplay.unshift(nextGrandPrize);
                }

                // Loop over each prize and queue it up on the timeline
                prizesToDisplay.forEach(function(prize) {
                    self.showPrize(prize);
                });
            }

            this.tl.call(this.showNext, null, this, '+=0.01');
        },

        showPrize: function (prize, immediate) {
            var self = this;
            if (immediate) {
                this.tl.clear();
                this.tl.call(this._showLabel, ['RAFFLE PRIZES', '25px'], this);
            }

            // GSAP is dumb with `call` sometimes. Putting this in a near-zero duration tween seems to be more reliable.
            this.tl.to({}, 0.01, {
                onComplete: function() {
                    self.$.topLine.fillHopperText('PROVIDED BY ' + prize.provided);
                }
            });

            this.tl.call(function() {
                if (prize.grand) {
                    self.$.bottomLine.fillHopperText('Grand Prize: ' + prize.name + ' (Minimum Bid: '
                            + prize.minimumbid + ')');
                } else {
                    self.$.bottomLine.fillHopperText(prize.name + ' (Minimum Bid: ' + prize.minimumbid + ')');
                }
            }, null, null, '+=0.08');

            // Give the prize some time to show
            this.tl.to({}, this.displayDuration, {});

            // If we're just showing this one prize on-demand, show "Up Next" next.
            if (immediate) this.tl.call(this.showNext, null, this, '+=0.01');
        },

        showNext: function (immediate) {
            if (window.nextRun) {
                var self = this;
                if (immediate) this.tl.clear();
                this.tl.call(this._showLabel, ['UP NEXT', '31px'], this);

                // GSAP is dumb with `call` sometimes. Putting this in a near-zero duration tween seems to be more reliable.
                this.tl.to({}, 0.01, {
                    onComplete: function() {
                        /* Depending on how we enter the very end of the schedule, we might end up in this func
                         * after window.nextRun has been set to null. In that case, we immediately clear the
                         * timeline and bail out to showing bids again.
                         */
                        if (window.nextRun) {
                            self.$.topLine.fillHopperText(window.nextRun.runners.join(', '));
                        } else {
                            self.tl.clear();
                            self.tl.call(self.showBids, null, self);
                        }
                    }
                });

                this.tl.call(function() {
                    self.$.bottomLine.fillHopperText(window.nextRun.game + ' - ' + window.nextRun.category);
                }, null, null, '+=0.08');

                // Give it some time to show
                this.tl.to({}, this.displayDuration, {});
            }

            this.tl.call(this.showCTA, null, this, '+=0.01');
        },

        showCTA: function(immediate) {
            var self = this;
            if (immediate) this.tl.clear();
            this.tl.add('showCTA_start');
            this.tl.add(this._hideLabel(), 'showCTA_start');

            // This is all very silly and I am sorry.
            this.tl.to({}, 0.01, {
                onStart: function () {
                    self.$.fullLine.style.display = 'block';

                    // Create a "wrapper" div. This is what will actually get put in our qPlate.
                    var wrapper = document.createElement('div');
                    wrapper.classList.add('flexCenter');

                    // Make the content that will go inside the wrapper.
                    var span = document.createElement('span');
                    var div = document.createElement('div');
                    span.innerHTML = '<b>Summer Games Done Quick</b> benefits';
                    div.id = 'msf';
                    wrapper.appendChild(span);
                    wrapper.appendChild(div);

                    // Put it in the qPlate hopper.
                    self.$.fullLine.fillHopper(wrapper);
                }
            }, 'showCTA_start+=' + (self.$.bottomLine.duration / 2 + 0.01));

            this.tl.call(function() {
                var b = document.createElement('b');
                b.textContent = 'Donate at gamesdonequick.com';

                // Put it in the qPlate hopper.
                self.$.fullLine.fillHopper(b);
            }, null, null, '+=' + this.displayDuration);

            // Give it some time to show
            this.tl.to({}, this.displayDuration, {});

            // Hide, then show bids
            this.tl.to({}, this.$.fullLine.duration / 2, {
                onStart: function() {
                    self.$.fullLine.fillHopperText('');
                },
                onComplete: function() {
                    self.$.fullLine.style.display = 'none';
                    self.showBids();
                }
            })
        },

        _showLabel: function (text, size) {
            var self = this;
            var tmpTL = new TimelineLite();

            // TODO: Silly, hacky code. This shouldn't be part of this func, and this should be done in a better fashion.
            if (this.$.fullLine.$.display.innerHTML !== '') {
                tmpTL.to(this.$.fullLine, this.$.fullLine.duration / 2 + 0.01, {
                    onStart: function () {
                        self.$.fullLine.fillHopperText('');
                    },
                    onComplete: function () {
                        self.$.fullLine.style.display = 'none';
                    }
                })
            }

            tmpTL.call(function() {
                self.$.twoLines.style.display = 'block';
            });

            if (this.labelShowing) {
                tmpTL.to(this.$.label, 0.25, {
                    opacity: 0,
                    ease: Linear.easeNone,
                    onComplete: function () {
                        self.$.label.innerHTML = text;
                        self.$.label.style.fontSize = size;
                    }
                });
                tmpTL.to(this.$.label, 0.25, {
                    opacity: 1,
                    ease: Linear.easeNone
                });
            } else {
                tmpTL.to(this.$.labelContainer, 0.5, {
                    onStart: function () {
                        self.labelShowing = true;
                        self.$.labelContainer.style.display = 'flex';
                        self.$.label.innerHTML = text;
                        self.$.label.style.fontSize = size;
                    },
                    x: '0%',
                    ease: Power3.easeOut
                });
            }
            return tmpTL;
        },

        _hideLabel: function () {
            var self = this;
            return TweenLite.to(this.$.labelContainer, this.$.topLine.duration / 2 + 0.01, {
                onStart: function () {
                    self.labelShowing = false;
                    self.$.topLine.fillHopperText('');
                    self.$.bottomLine.fillHopperText('');
                },
                x: '-100%',
                ease: Power3.easeIn,
                onComplete: function() {
                    self.$.labelContainer.style.display = 'none';
                    self.$.twoLines.style.display = 'none';
                }
            });
        }
    });
</script>
