<script src="/dashboard/sgdq15-layouts/components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<link rel="import" href="/components/polymer/polymer.html">

<dom-module id="sgdq-typeahead">
    <style>

    </style>

    <template>
        <div class="input-group">
            <input id="inputField" class="typeahead form-control" type="text" placeholder="{{placeholder}}"/>
            <span class="input-group-btn">
                <span class="btn btn-xs btn-success js-manualBtn" style="height: 35px;">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </span>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-typeahead',

        properties: {
            placeholder: String,
            replicantName: String,
            replicantBundle: String,
            replicant: {
                type: Object,
                readOnly: true
            }
        },

        observers: [
            'updateReplicant(replicantName, replicantBundle)'
        ],

        updateReplicant: function(name, bundle) {
            var self = this;
            var $inputField = $(this.$.inputField);
            var replicant = NodeCG.Replicant(name, bundle)
                    .on('change', function(oldVal, newVal) {
                        // TODO: I'm unsure if re-making the typeahead each time is necessary.
                        if ($inputField.typeahead) $inputField.typeahead('destroy');
                        $inputField.typeahead({
                                    hint: true,
                                    highlight: true,
                                    minLength: 1
                                },
                                {
                                    name: 'schedule',
                                    displayKey: 'game',
                                    source: self._substringMatcher(newVal),
                                    templates: {
                                        suggestion: function (result) {
                                            return [
                                                '<div>',
                                                    '<p class="run-console">' + (result.console || '') + '</p>',
                                                    '<p class="run-game">' + result.game + '</p>',
                                                    '<p class="run-runners">' + result.runners.join(', ') + '</p>',
                                                '</div>'
                                            ].join('\n');
                                        }
                                    }
                                });
                    });

            this._setReplicant(replicant);
        },

        /*
         * Methods
         */
        _substringMatcher: function (schedule) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(schedule, function (i, run) {
                    if (substrRegex.test(run.game) || substrRegex.test(run.runners)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({game: run.game, runners: run.runners, console: run.console, index: run.index});
                    }
                });

                cb(matches);
            };
        }
    });
</script>
