#container {
    background: url("../img/16x9-2_background.png") no-repeat;
}

#left {
    position: absolute;
    top: 396px;
    left: 19px;
    width: 389px;
    height: 259px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#right {
    position: absolute;
    top: 396px;
    right: 18px;
    width: 391px;
    height: 259px;
    overflow: hidden;
}

sgdq-sponsors, sgdq-game {
    height: 119px;
    width: 100%;
}

sgdq-sponsors sgdq-container {
    border-right: none;
}

sgdq-game sgdq-container {
    border-left: none;
}

sgdq-runner {
    width: 374px;
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 17px;
}

#left sgdq-runner {
    right: -2px;
}

#right sgdq-runner {
    left: -2px;
}

sgdq-runner #runnerInfoContainer {
    width: 365px !important;
}

sgdq-runner #runnerInfo {
    margin-bottom: 3px !important;
}

sgdq-runner #timeContainer {
    width: 208px !important;
}

sgdq-runner #time {
    height: 33px !important;
}

sgdq-runner .bezel {
    height: calc(100% + 7px) !important;
}
