#container {
    background: url("../img/3x2-1_background.png") no-repeat;
}

#sidebar {
    position: absolute;
    top: 16px;
    right: 0;
    width: 324px;
    height: 630px;
    overflow: hidden;
}

sgdq-game {
    height: 112px;
    margin-left: 7px;
    margin-right: 9px;
    margin-bottom: 11px;
}

sgdq-runner {
    margin-top: 12px;
    left: -1px;
    width: 326px;
}

sgdq-sponsors {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 9px;
    height: 210px;
}

#cameraPlaceholder {
    width: 100%;
    height: 211px;
}
