#container {
    background: url("../img/4x3-4_background.png") no-repeat;
}

#bar {
    position: absolute;
    top: 0;
    left: 442px;
    width: 396px;
    height: 720px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

#cameraPlaceholder {
    height: 210px;
    margin-top: 12px;
}

sgdq-game {
    height: 104px;
    width: 380px;
    margin: 8px 8px 15px;
}

sgdq-runner {
    width: 313px;
    margin-top: 9px;
    margin-bottom: 4px;
}

sgdq-runner:nth-of-type(even) {
    align-self: flex-end;
    right: -1px;
}

sgdq-runner:nth-of-type(odd) {
    left: -1px;
}

sgdq-runner #runnerInfoContainer {
    width: 302px !important;
}

sgdq-runner #timeContainer {
    width: 172px;
}

sgdq-runner hr {
    margin: 0 -4px !important;
}
