#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    height: 665px;
    overflow: hidden;
    padding: 7px;
}

#container {
    background: url("../img/4x3-1_background.png") no-repeat;
}
