#container {
    background: url("../img/4x3-2_background.png") no-repeat;
}

#left {
    position: absolute;
    top: 457px;
    left: 53px;
    width: 397px;
    height: 205px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#right {
    position: absolute;
    top: 457px;
    right: 55px;
    width: 395px;
    height: 205px;
    overflow: hidden;
}

sgdq-sponsors, sgdq-game {
    height: 119px;
    width: 100%;
}

sgdq-sponsors /deep/ sgdq-container {
    border-right: none;
}

sgdq-game /deep/ sgdq-container {
    border-left: none;
}

sgdq-runner {
    width: 313px;
    margin-top: 7px;
    margin-bottom: 7px;
}

sgdq-runner #timeContainer {
    width: 158px;
}

#left sgdq-runner {
    right: -1px;
}

#right sgdq-runner {
    left: -1px;
}
