#container {
    background: url("../img/4x3-2_background.png") no-repeat;
}

#left {
    position: absolute;
    top: 457px;
    left: 53px;
    width: 397px;
    height: 205px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#right {
    position: absolute;
    top: 457px;
    right: 53px;
    width: 397px;
    height: 205px;
    overflow: hidden;
}

sgdq-sponsors {
    height: 120px;
    width: 100%;
}

sgdq-game {
    height: 120px;
}

sgdq-sponsors /deep/ sgdq-container {
    border-right: none;
}

sgdq-game /deep/ sgdq-container {
    border-left: none;
}

sgdq-runner {
    width: 311px;
    margin-top: 7px;
    margin-bottom: 7px;
}
