#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 394px;
    height: 665px;
    overflow: hidden;
}

#container {
    background: url("../img/4x3-1_background.png") no-repeat;
}

sgdq-game {
    margin: 7px;
}

sgdq-sponsors {
    margin: 7px;
    height: 144px;
}

#cameraPlaceholder {
    width: 100%;
    height: 219px;
}
