body {
    color: white;
    font-family: "tablet-gothic-wide";
    font-weight: 700;
}

#container {
    background: url("../img/break_background.png") no-repeat;
}

#prizes {
    position: absolute;
    top: 338px;
    left: 905px;
    width: 359px;
    height: 280px;
}

.bar {
    background-color: rgba(111, 204, 221, 0.74);
    width: 100%;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.71);
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    font-size: 18px;
}

#top span {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    text-align: center;
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 54px;
}

#bidBar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88px;
    height: 54px;
}

#description {
    margin-top: 1px;
    margin-left: 10px;
    height: 100%;
    width: 260px;
}

#descriptionText {
    white-space: normal;
}

#bid {
    height: 46px;
    font-size: 34px;
    margin-top: -0.16em;
    text-align: center;
}

#minBid {
    position: absolute;
    bottom: -7px;
    right: 14px;
    height: 15px;
    width: 60px;
    font-size: 12px;
    border: solid 1px black;
    background-color: #6fccdd;
}

#minBid span {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    font-family: "tablet-gothic";
    text-align: center;
}

#preloader {
    display: none;
}

#nextImage {
    width: 0;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0 50%;
}
