#imagePreloader {
    display: none;
}

sgdq-omnibar {
    z-index: 0;
}

#ftb {
    background-color: black;
    opacity: 0;
    z-index: 1;
}

#nextImage {
    z-index: 2;
}

#currentImage {
    z-index: 3;
}

#currentImage,
#nextImage {
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#videoPlayer {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 4;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

