<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../sgdq-corners/sgdq-corners.html"/>

<dom-module id="sgdq-game">
    <style>
        :host {
            display: flex;
            color: white;
            border: 2px solid black;
            font-size: 23px;
            padding-right: 0.435em;
            padding-left: 0.435em;
            text-align: center;
            flex-direction: column;
            position: relative;
            background-color: #01566f;
            white-space: nowrap;
        }

        hr {
            width: 100%;
            height: 2px;
            background: #1c7995;
            border: 0;
            margin-top: 0.348em;
            margin-bottom: 0.043em;
        }

        #game {
            font-family: "tablet-gothic-condensed";
            font-size: 1em;
            font-weight: 800;
            transform-origin: left;
        }

        #categoryContainer {
            display: flex;
            align-items: center;
        }

        .thickline {
            height: 0.261em;
            background-color: white;
            flex-grow: 1;
        }

        #category {
            font-family: "tablet-gothic";
            font-size: 0.696em;
            font-weight: 400;
            text-transform: uppercase;
            margin-left: 0.4em;
            margin-right: 0.4em;
            flex-shrink: 0;
            transform-origin: left;
        }

        #estimateContainer {
            margin-bottom: 0.261em;
        }

        #estimateLabel {
            font-family: "tablet-gothic-semi-condensed";
            font-size: 0.783em;
            font-weight: 700;
            font-style: italic;
            vertical-align: middle;
            margin-right: 0.130em;
        }

        #estimate {
            font-family: "gamegirl_classic";
            font-size: 0.913em;
            font-weight: 400;
            vertical-align: middle;
        }
    </style>

    <template>
        <sgdq-corners></sgdq-corners>

        <div id="game">Tony Hawk's American Wasteland</div>
        <div id="categoryContainer">
            <div class="thickline"></div>
            <div id="category">1 Player, 2 Controllers</div>
            <div class="thickline"></div>
        </div>
        <hr>
        <div id="estimateContainer">
            <span id="estimateLabel">ESTIMATE:</span>
            <span id="estimate">01:45:00</span>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-game',

        properties: {
            tl: {
                type: Object,
                value: new TimelineLite({autoRemoveChildren: true}),
                readOnly: true
            }
        },

        ready: function() {
            var self = this;
            nodecg.Replicant('currentRun')
                    .on('change', function(oldVal, newVal) {
                        self.$.game.innerHTML = newVal.game;
                        self.$.category.innerHTML = newVal.category;
                        self.$.estimate.innerHTML = newVal.estimate;

                        var hostWidth = self._getElementContentWidth(self);
                        [self.$.game, self.$.category].forEach(function(el) {
                            var elWidth = el.scrollWidth;
                            console.log(el, elWidth, hostWidth);
                            if (elWidth > hostWidth) {
                                TweenLite.set(el, {scaleX: hostWidth / elWidth});
                            } else {
                                TweenLite.set(el, {scaleX: 1});
                            }
                        })
                    })
        },

        /*
         * Methods
         */
        _getElementContentWidth: function (element) {
            var styles = window.getComputedStyle(element);
            var padding = parseFloat(styles.paddingLeft) + parseFloat(styles.paddingRight);
            return element.clientWidth - padding;
        }
    });
</script>
