<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../sgdq-container/sgdq-container.html"/>

<dom-module id="sgdq-game">
    <style>
        :host {
            display: flex;
        }

        hr {
            width: 100%;
            height: 2px;
            background: #1c7995;
            border: 0;
            margin-top: 0.348em;
            margin-bottom: 0.043em;
        }

        #game {
            font-family: "tablet-gothic-condensed";
            font-size: 1em;
            font-weight: 800;
            transform-origin: left;
        }

        #categoryContainer {
            display: flex;
            align-items: center;
        }

        .thickline {
            height: 0.261em;
            background-color: white;
            flex-grow: 1;
            transform: translateY(0.05em);
        }

        #categoryWrapper {
            overflow: hidden;
            flex-shrink: 0;
        }

        #category {
            /* I shit you not, these two rules solves all my centering problems. */
            /* http://stackoverflow.com/a/16642842/3903335 */
            margin-left: -150px;
            margin-right: -150px;

            font-family: "tablet-gothic";
            font-size: 0.696em;
            font-weight: 400;
            text-transform: uppercase;
        }

        #estimateContainer {
            margin-bottom: 0.261em;
        }

        #estimateLabel {
            font-family: "tablet-gothic-semi-condensed";
            font-size: 0.783em;
            font-weight: 700;
            font-style: italic;
            vertical-align: middle;
            margin-right: 0.130em;
        }

        #estimate {
            font-family: "gamegirl_classic";
            font-size: 0.913em;
            vertical-align: middle;
        }
    </style>

    <template>
        <sgdq-container hide-tl="{{hideTl}}" hide-tr="{{hideTr}}" hide-bl="{{hideBl}}" hide-br="{{hideBr}}">
            <div id="game"></div>
            <div id="categoryContainer">
                <div class="thickline"></div>
                <div id="categoryWrapper">
                    <div id="category">Category</div>
                </div>
                <div class="thickline"></div>
            </div>
            <hr>
            <div id="estimateContainer">
                <span id="estimateLabel">ESTIMATE:</span>
                <span id="estimate">01:45:00</span>
            </div>
        </sgdq-container>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-game',

        properties: {
            tl: {
                type: Object,
                value: new TimelineLite({autoRemoveChildren: true}),
                readOnly: true
            },
            hideTl: {
                type: Boolean,
                reflectToAttribute: true
            },
            hideTr: {
                type: Boolean,
                reflectToAttribute: true
            },
            hideBl: {
                type: Boolean,
                reflectToAttribute: true
            },
            hideBr: {
                type: Boolean,
                reflectToAttribute: true
            }
        },

        ready: function() {
            var self = this;

            nodecg.Replicant('currentRun')
                    .on('change', function(oldVal, newVal) {
                        self.$.game.innerHTML = newVal.game;
                        self.$.estimate.innerHTML = newVal.estimate;

                        // If the category text changed, animate it
                        if (self.$.category.innerText.toLowerCase() !== newVal.category.toLowerCase()) {
                            TweenLite.to(self.$.categoryWrapper, 0.3, {
                                width: '0px',
                                ease: Back.easeIn,
                                onComplete: function() {
                                    self.$.category.innerHTML = newVal.category;

                                    /* To figure out how wide we need to make #categoryWrapper, and if we need to
                                     * shrink the category to make it fit, we have to briefly remove the margins
                                     * from #category, measure it, do our thing, then re-add the margins */
                                    var cachedMargin = self.$.category.style.marginLeft;
                                    self.$.category.style.marginLeft = 0;
                                    self.$.category.style.marginRight = 0;

                                    // Cache the category width, and fit the text if needs be.
                                    var categoryWidth = self.$.category.scrollWidth;
                                    var categoryContainerWidth = self.$.categoryContainer.clientWidth - 40;
                                    if (categoryWidth > categoryContainerWidth) {
                                        var scale = categoryContainerWidth / categoryWidth;
                                        TweenLite.set(self.$.category, {scaleX: scale});
                                        categoryWidth = categoryWidth * scale;
                                    } else {
                                        TweenLite.set(self.$.category, {scaleX: 1});
                                    }

                                    // Set the margins back.
                                    self.$.category.style.marginLeft = cachedMargin;
                                    self.$.category.style.marginRight = cachedMargin;

                                    // Animate back in.
                                    TweenLite.to(self.$.categoryWrapper, 0.5, {
                                        width:  categoryWidth + 20 + 'px',
                                        ease: Elastic.easeOut,
                                        delay: 0.01
                                    });
                                }
                            });
                        }

                        var containerWidth = self._getElementContentWidth(self.$$('sgdq-container'));
                        [self.$.game].forEach(function(el) {
                            var elWidth = el.scrollWidth;
                            if (elWidth > containerWidth) {
                                TweenLite.set(el, {scaleX: containerWidth / elWidth});
                            } else {
                                TweenLite.set(el, {scaleX: 1});
                            }
                        })
                    })
        },

        /*
         * Methods
         */
        _getElementContentWidth: function (element) {
            var styles = window.getComputedStyle(element);
            var padding = parseFloat(styles.paddingLeft) + parseFloat(styles.paddingRight);
            return element.clientWidth - padding;
        }
    });
</script>
