<link rel="import" href="../../components/polymer/polymer.html"/>

<dom-module id="sgdq-game">
    <style>
        :host {
            display: flex;
            color: white;
            border: 2px solid black;
            font-size: 23px;
            padding-right: 0.435em;
            padding-left: 0.435em;
            text-align: center;
            flex-direction: column;
            position: relative;
            background-color: #01566f;
        }

        hr {
            width: 100%;
            height: 2px;
            background: #1c7995;
            border: 0;
            margin-top: 0.348em;
            margin-bottom: 0.043em;
        }

        #game {
            font-family: "tablet-gothic-condensed";
            font-size: 1em;
            font-weight: 800;
        }

        #categoryContainer {
            display: flex;
            align-items: center;
        }

        .thickline {
            height: 0.261em;
            background-color: white;
            flex-grow: 1;
        }

        #category {
            font-family: "tablet-gothic";
            font-size: 0.696em;
            font-weight: 400;
            text-transform: uppercase;
            margin-left: 0.391em;
            margin-right: 0.391em;
            flex-shrink: 0;
        }

        #estimateContainer {
            margin-bottom: 0.261em;
        }

        #estimateLabel {
            font-family: "tablet-gothic-semi-condensed";
            font-size: 0.783em;
            font-weight: 700;
            font-style: italic;
            vertical-align: middle;
            margin-right: 0.130em;
        }

        #estimate {
            font-family: "gamegirl_classic";
            font-size: 0.913em;
            font-weight: 400;
            vertical-align: middle;
        }

        .corner {
            position: absolute;
            overflow: hidden;
            /*border: 2px solid #6fccdd;*/
            width: 11px;
            height: 11px;
        }

        .corner::before {
            content: '';
            position: absolute;
            border: 2px solid #6fccdd;
            width: 11px;
            height: 11px;
        }

        .corner-tl {
            top: -2px;
            left: -2px;
        }

        .corner-tl::before {
            top: 0;
            left: 0;
        }

        .corner-tr {
            top: -2px;
            right: -2px;
        }

        .corner-tr::before {
            top: 0;
            right: 0;
        }

        .corner-br {
            bottom: -2px;
            right: -2px;
        }

        .corner-br::before {
            bottom: 0;
            right: 0;
        }

        .corner-bl {
            bottom: -2px;
            left: -2px;
        }

        .corner-bl::before {
            bottom: 0;
            left: 0;
        }
    </style>

    <template>
        <div class="corner corner-tl"></div>
        <div class="corner corner-tr"></div>
        <div class="corner corner-br"></div>
        <div class="corner corner-bl"></div>

        <div id="game">Tony Hawk's American Wasteland</div>
        <div id="categoryContainer">
            <div class="thickline"></div>
            <div id="category">1 Player, 2 Controllers</div>
            <div class="thickline"></div>
        </div>
        <hr>
        <div id="estimateContainer">
            <span id="estimateLabel">ESTIMATE:</span>
            <span id="estimate">01:45:00</span>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'sgdq-game',

        properties: {
            tl: {
                type: Object,
                value: new TimelineLite({autoRemoveChildren: true}),
                readOnly: true
            }
        }
    });
</script>
