<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DS, 1 Player</title>
    <link rel="stylesheet" href="font/gamegirl_classic.css">
    <link rel="stylesheet" href="style/layouts.css">
    <link rel="stylesheet" href="style/3ds.css">

    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/gsap/src/minified/plugins/TextPlugin.min.js"></script>
    <script src="//use.typekit.net/mvu5oqo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="import" href="elements/sgdq-game/sgdq-game.html">
    <link rel="import" href="elements/sgdq-sponsors/sgdq-sponsors.html">
    <link rel="import" href="elements/sgdq-runner/sgdq-runner.html">
    <link rel="import" href="elements/sgdq-omnibar/sgdq-omnibar.html">
</head>
<body>
<div id="container">
    <sgdq-game></sgdq-game>
    <div id="bar">
        <sgdq-runner index="0"></sgdq-runner>
        <sgdq-sponsors></sgdq-sponsors>
    </div>
    <sgdq-omnibar></sgdq-omnibar>
</div>
</body>
</html>
