<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Break</title>
    <link rel="stylesheet" href="font/gamegirl_classic.css">
    <link rel="stylesheet" href="style/layouts.css">
    <link rel="stylesheet" href="style/break.css">

    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/gsap/src/minified/plugins/TextPlugin.min.js"></script>
    <script src="components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="//use.typekit.net/mvu5oqo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="import" href="elements/sgdq-qplate/sgdq-qplate.html">
</head>
<body>
<div id="container">
    <div id="prizes">
        <div id="image" class="image"></div>
        <div id="nextImage" class="image"></div>
        <div id="preloader"></div>
        <div id="top" class="bar"><span>DONATE AND WIN PRIZES!</span></div>
        <div id="bottom" class="bar">
            <sgdq-qplate id="description" origin-dist=14></sgdq-qplate>
            <div id="bidBar" class="bar">
                <sgdq-qplate id="bid" origin-dist=8></sgdq-qplate>
            </div>
        </div>
    </div>
    <div id="minBid"><span>MIN BID</span></div>
</div>
<script>
window.onload = function() {
    'use strict';

    var description = document.querySelector('#description');
    var bid = document.querySelector('#bid');
    var image = document.querySelector('#image');
    var nextImage = document.querySelector('#nextImage');
    var preloader = document.querySelector('#preloader');
    var timeline = new TimelineMax({repeat: -1});

    var prizes = [];
    var grandPrizes = [];

    var lastShownGrandPrize = null;

    var swipeDuration = 1;
    var displayDuration = 10;

    nodecg.listenFor('breakDemand', function (prize) {
        showPrize(prize, true);
    });

    nodecg.Replicant('currentPrizes')
        .on('change', function (oldVal, newVal) {
            timeline.clear();
            newVal.forEach(function (prize) {
                showPrize(prize);
            });
        });

    function showPrize(prize, immediate) {
        if (immediate) timeline.clear();

        /* This timeline is fun to read.
         * We pause it to preload the image then resume,
         * start image swipe,
         * start text flips, timed such that middle of the flip aligns with the middle of the swipe,
         * reset image, nextimage divs,
         * stall for 5 seconds to display prize
         */
        timeline
            .call(function () {
                timeline.pause();
                preloader.innerHTML = 'img src="' + prize.image + '">';
                imagesLoaded('#preloader', function () {
                    nextImage.style.backgroundImage = 'url(' + prize.image + ')';
                    nextImage.style.opacity = 1;
                    preloader.innerHTML = '';
                    timeline.play();
                });
            })
            .to(nextImage, swipeDuration, {
                width: '100%',
                ease: Power1.easeInOut
            })
            .call(function () {
                description.fillHopperText(prize.description || prize.name);
                bid.fillHopperText(prize.minimumbid);
            }, null, null, "-="+ ((swipeDuration/2)+0.35))
            .call(function () {
                image.style.backgroundImage = 'url(' + prize.image + ')';
                nextImage.style.backgroundImage = 'none';
                nextImage.style.width = 0;
                nextImage.style.opacity = 0;
            })
            .to({}, displayDuration, {});

        if (immediate) timeline.call(cyclePrizes);
    }
};
</script>
</body>
</html>
