<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Break</title>
    <link rel="stylesheet" href="font/gamegirl_classic.css">
    <link rel="stylesheet" href="style/layouts.css">
    <link rel="stylesheet" href="style/break.css">

    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/gsap/src/minified/plugins/TextPlugin.min.js"></script>
    <script src="//use.typekit.net/mvu5oqo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="import" href="elements/sgdq-qplate/sgdq-qplate.html">
    <link rel="import" href="elements/sgdq-omnibar/sgdq-omnibar.html">
</head>
<body>
<div id="container">
    <div id="prizes">
        <div id="image"></div>
        <div id="top" class="bar"><span>DONATE AND WIN PRIZES!</span></div>
        <div id="bottom" class="bar">
            <sgdq-qplate id="description" origin-dist=12><span id="descriptionText"></span></sgdq-qplate>
            <div id="bidBar" class="bar">
                <sgdq-qplate id="bid" origin-dist=8></sgdq-qplate>
            </div>
        </div>
        <div id="minBid"><span>MIN BID</span></div>
    </div>
    <sgdq-omnibar></sgdq-omnibar>
</div>
<script>
    'use strict';

    var description = document.querySelector('#descriptionText');
    var bid = document.querySelector('#bid');
    var image = document.querySelector('#image');
    var timeline = new TimelineMax({repeat: -1});

    var prizes = [];
    var grandPrizes = [];

    var lastShownGrandPrize = null;

    nodecg.listenFor('breakDemand', function(prize) {
        showPrize(prize, true);
    });

    nodecg.Replicant('currentPrizes')
        .on('change', function(oldVal, newVal) {
            prizes = newVal.filter(function(prize) {
                return !prize.grand;
            });

            grandPrizes = newVal.filter(function(prize) {
                return prize.grand;
            });

            cyclePrizes();
        });

    function cyclePrizes() {
        timeline.clear();

        var prizesToDisplay = prizes.slice(0);

        if (grandPrizes.length) {
            var lastShownGrandPrizeIdx = grandPrizes.indexOf(lastShownGrandPrize);
            var nextGrandPrizeIdx = lastShownGrandPrizeIdx >= grandPrizes.length - 1
                ? 0
                : lastShownGrandPrizeIdx + 1;
            var nextGrandPrize = grandPrizes[nextGrandPrizeIdx];
            if (nextGrandPrize) prizesToDisplay.unshift(nextGrandPrize);
        }

        prizesToDisplay.forEach(function(prize) {
            showPrize(prize);
        });
    }

    function showPrize(prize, immediate) {
        if (immediate) timeline.clear();

        timeline.call(function() {
            image.style.backgroundImage = 'url(' + prize.image + ')';
            description.innerText = prize.description;
            bid.fillHopperText(prize.minimumbid);
        }).to({}, 5, {});

        if (immediate) timeline.call(cyclePrizes);
    }
</script>
</body>
</html>
