<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interview</title>
    <link rel="stylesheet" href="style/layouts.css">
    <link rel="stylesheet" href="style/interview.css">

    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/gsap/src/minified/plugins/TextPlugin.min.js"></script>
    <script src="components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="//use.typekit.net/mvu5oqo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="import" href="elements/sgdq-qplate/sgdq-qplate.html">
</head>
<body>
<div id="container">
    <div id="bgContainer">
        <div id="background"></div>
    </div>

    <div id="main">
        <div id="top"><img src="img/sgdq_interview_title.png"></div>
        <hr/>
        <div id="middle">
            <sgdq-qplate id="name1"></sgdq-qplate>
            <sgdq-qplate id="name2"></sgdq-qplate>
            <sgdq-qplate id="name3" style="width: 0%"></sgdq-qplate>
            <sgdq-qplate id="name4" style="width: 0%"></sgdq-qplate>
        </div>
        <hr/>
        <div id="bottom"><span>#SGDQ2015</span></div>
    </div>
</div>
<script>
    window.onload = function() {
        'use strict';

        var timeline = new TimelineMax({paused: true, autoRound: false});
        // Starting hidden
        timeline
            .set('hr', {borderWidth: '1px', width: 0})
            .to('hr', 0.5, {
                width: '100%',
                autoRound: false,
                ease: Power2.easeIn
            })
            .call(displayNames)
            .set('#middle', {borderWidth: '1px', height: 0})
            .to('#middle', 0.4, {
                height: '46px',
                autoRound: false
            })
            .add('showTopBottom')
            .set(['#top', '#bottom', '#background'], {borderWidth: '1px', height: 0})
            .to('#top', 0.2, {
                height: '25px',
                marginTop: '6px',
                autoRound: false
            })
            .to('#bottom', 0.2, {
                height: '32px',
                autoRound: false
            }, 'showTopBottom')
            .to('#background', 0.2, {
                height: '82px',
                autoRound: false
            }, 'showTopBottom')
            .set('#top', {
                overflow: 'visible'
            })
            .to('#top img', 0.1, {
                top: '-3px',
                autoRound: false
            });

        function displayNames() {
            namesPlates.forEach(function(name, idx) {
                if (timeline.reversed()) {
                    name.fillHopperText('');
                } else {
                    name.fillHopperText(currentNames[idx]);
                }
            });
        }

        function fitPlates(required, shrinking) {
            var fontSize = '27px';
            if (required === 3) {
                fontSize = '24px';
            } else if (required === 4) {
                fontSize = '18px';
            }

            var tl = new TimelineLite({autoRemoveChildren: true});
            if (shrinking) {
                tl.to(namesPlates, 0.5, {
                        fontSize: fontSize,
                        autoRound: false
                    })
                    .add('widthChange')
                    .to(namesPlates.slice(0, required), 0.5, {
                        width: '100%'
                    })
                    .to(namesPlates.slice(required), 0.5, {
                        width: '0%'
                    }, 'widthChange');
            } else {
                tl.to(namesPlates.slice(0, required), 0.5, {
                        width: '100%'
                    })
                    .to(namesPlates.slice(required), 0.5, {
                        width: '0%'
                    }, '0')
                    .to(namesPlates, 0.5, {
                        fontSize: fontSize,
                        autoRound: false
                    });
            }
        }

        var namesPlates = [name1, name2, name3, name4];
        var currentNames = ['a', 'a', 'a', 'a'];

        var isShowing = nodecg.Replicant('interviewShowing', {defaultValue: false})
            .on('change', function(oldVal, newVal) {
                if (newVal) {
                    timeline.play();
                } else {
                    timeline.reverse();
                }
            });

        var interviewNames = nodecg.Replicant('interviewNames')
            .on('change', function(oldVal, newVal) {
                var currentPlates = 0;
                var requiredPlates = 0;

                currentNames.forEach(function(name) {
                    if (name !== '') currentPlates++;
                });

                currentNames = ['', '', '', ''];
                var nextPlateIdx = 0;
                newVal.forEach(function(name) {
                    if (name !== '') {
                        requiredPlates += 1;
                        currentNames[nextPlateIdx] = name;
                        nextPlateIdx += 1;
                    }
                });

                if (requiredPlates > currentPlates) {
                    fitPlates(requiredPlates, true);
                    setTimeout(displayNames, 1000);
                } else {
                    displayNames();
                    setTimeout(function() {
                        fitPlates(requiredPlates, false);
                    }, 700);
                }
            });
    };
</script>
</body>
</html>
