<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omnibar</title>
    <link rel="stylesheet" href="style/layouts.css">
    <link rel="stylesheet" href="style/omnibar.css">

    <script src="/components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/gsap/src/minified/plugins/TextPlugin.min.js"></script>
    <script src="lib/nextTick.js"></script>
    <script src="//use.typekit.net/mvu5oqo.js"></script>
    <script>try {Typekit.load();} catch (e) {}</script>

    <link rel="import" href="elements/sgdq-omnibar/sgdq-omnibar.html">
</head>
<body>
<div id="container">
    <div id="imagePreloader"></div>
    <sgdq-omnibar></sgdq-omnibar>
    <div id="ftb" class="fullscreen"></div>
    <div id="nextImage" class="fullscreen"></div>
    <div id="currentImage" class="fullscreen"></div>
</div>

<!-- Globals & Constants -->
<script>
    var FADE_DURATION = 0.5;
    var FADE_EASE = Power1.easeInOut;
    var IMAGE_AD_DURATION = 30;
    var container = document.getElementById('container');
    var imagePreloader = document.getElementById('imagePreloader');

    var preloadedUrls = [];
    function isPreloaded(url) {
        return preloadedUrls.indexOf(url) > -1;
    }

    function preload(type, url, cb) {
        // If the image is already preloaded, immediately invoke the callback.
        if (isPreloaded(url)) {
            window.nextTick(function() {
                cb(null, url);
            });
            return;
        }

        if (type === 'image') {
            // Create image preloader
            var imgEl = document.createElement('img');
            imgEl.src = url;
            imagePreloader.appendChild(imgEl);

            nodecg.sendMessage('adLoadProgress', {
                url: url,
                status: 'loading',
                progress: 'Loading',
                type: 'image'
            });

            var imgLoad = window.imagesLoaded(imagePreloader);
            imgLoad.on('done', function() {
                // Double-check that the image we're trying to show is loaded.
                imgLoad.images.forEach(function(image) {
                    if (!isPreloaded(image.img.src)) preloadedUrls.push(image.img.src);
                    if (image.img.src.indexOf(url)) {
                        nodecg.sendMessage('adLoadProgress', {
                            url: url,
                            status: 'done',
                            progress: 'Done',
                            type: 'image'
                        });
                        cb(null, url);
                    }
                });
            });
        } else if (type === 'video') {
            /* We only allow WebM because we know it will have its metadata at the start of the file,
             * which this preload method depends on. */

            // Create a hidden and muted video tag that will be used to preload the video.
            var videoLoader = document.createElement('video');
            videoLoader.style.display = 'none';
            videoLoader.muted = true;

            // Create a "source" tag for this webm and append it to videoLoader.
            var source = document.createElement('source');
            source.src = url;
            source.type = 'video/webm';
            videoLoader.appendChild(source);
            videoLoader.fullyLoaded = false;

            videoLoader.addEventListener('loadedmetadata', function () {
                console.log('loadedmetadata');
            }, false);

            videoLoader.addEventListener('progress', function () {
                if (videoLoader.fullyLoaded) return;
                if (videoLoader.duration) {
                    var percent = (videoLoader.buffered.end(0) / videoLoader.duration) * 100;
                    nodecg.sendMessage('adLoadProgress', {
                        url: url,
                        status: 'loading',
                        progress: parseInt(percent) + '%',
                        type: 'video'
                    });

                    if (percent >= 100) {
                        nodecg.sendMessage('adLoadProgress', {
                            url: url,
                            status: 'done',
                            progress: '100%',
                            type: 'video'
                        });

                        if (!isPreloaded(url)) preloadedUrls.push(url);
                        videoLoader.fullyLoaded = true;
                        videoLoader.remove();
                        cb(null, url);
                    }

                    // Seek the video to force the conservative browser to buffer more of it
                    videoLoader.currentTime++;
                } else {
                    console.log('progress, but metadata is not loaded so video duration is unknown');
                }
            }, false);

            videoLoader.addEventListener('canplaythrough', function () {
                console.log('canplaythrough');
            }, false);
        } else {
            throw new Error ('Invalod type: ' + type);
        }
    }
</script>

<!-- Image Advertisements -->
<script>
    var currentImage = document.getElementById('currentImage');
    var nextImage = document.getElementById('nextImage');
    var imageAdTl = new TimelineLite({autoRemoveChildren: true});

    nodecg.listenFor('hideAdImage', function() {
        imageAdTl.clear();
        imageAdTl.to([currentImage, nextImage], FADE_DURATION, {
            opacity: 0,
            ease: FADE_EASE,
            onComplete: function() {
                currentImage.style.backgroundImage = '';
                nextImage.style.backgroundImage = '';
            }
        });
    });

    nodecg.listenFor('showAdImage', function(url) {
        // If this image is already preloaded, immediately show it.
        // Else, preload before showing.
        if (isPreloaded(url)) {
            showAdImage(url);
        } else {
            preload('image', url, function(err, url) {
                if (err) {
                    console.error(err);
                    return;
                }

                showAdImage(url);
            });
        }
    });

    function showAdImage(url) {
        // Clear any existing tweens. Advertisements ain't nothin' to fuck wit.
        imageAdTl.clear();
        imageAdTl.add('start');

        // If there is an existing image being displayed, we need to crossfade to the new image.
        // Else, just fade the new image up.
        var cssUrl = 'url("' + url + '")';
        if (currentImage.style.backgroundImage) {
            imageAdTl.to(currentImage, FADE_DURATION, {
                opacity: 0,
                ease: FADE_EASE
            }, 'start');
            imageAdTl.to(nextImage, FADE_DURATION, {
                onStart: function() {
                    nextImage.style.backgroundImage = cssUrl;
                },
                opacity: 1,
                ease: FADE_EASE
            }, 'start');
            imageAdTl.call(function() {
                currentImage.style.opacity = 1;
                nextImage.style.opacity = 0;
                currentImage.style.backgroundImage = nextImage.style.backgroundImage;
                nextImage.style.backgroundImage = '';
            });
        } else {
            imageAdTl.to(currentImage, FADE_DURATION, {
                onStart: function() {
                    currentImage.style.backgroundImage = cssUrl;
                },
                opacity: 1,
                ease: FADE_EASE
            }, 'start');
        }

        // Fade out after FADE_DURATION seconds.
        imageAdTl.to(currentImage, FADE_DURATION, {
            opacity: 0,
            ease: FADE_EASE,
            onComplete: function() {
                currentImage.style.backgroundImage = '';
            }
        }, 'start+=' + (IMAGE_AD_DURATION + FADE_DURATION))
    }
</script>

<!-- Video Advertisements -->
<script>
    var videoContainer = document.getElementById('videoContainer');
    var ftb = document.getElementById('ftb');

    nodecg.Replicant('ftb', {defaultValue: false})
            .on('change', function(oldVal, newVal) {
                if (newVal) {
                    TweenLite.to(ftb, FADE_DURATION, {opacity: 1, ease: FADE_EASE})
                } else {
                    TweenLite.to(ftb, FADE_DURATION, {opacity: 0, ease: FADE_EASE})
                }
            });

    nodecg.listenFor('stopAdVideo', function() {
        while (document.getElementById('videoPlayer')) {
            document.getElementById('videoPlayer').remove();
        }
    });

    nodecg.listenFor('playAdVideo', function(url) {
        if (isPreloaded(url)) {
            showAdVideo(url);
        } else {
            preload('video', url, function(err, url) {
                if (err) {
                    console.error(err);
                    return;
                }

                showAdVideo(url);
            });
        }
    });

    function showAdVideo(url) {
        // Remove any existing video
        while (document.getElementById('videoPlayer')) {
            document.getElementById('videoPlayer').remove();
        }

        // Create a source element
        var source = document.createElement('source');
        source.src = url;
        source.type = 'video/webm';

        // Create a video element, append the source
        var videoPlayer = document.createElement('video');
        videoPlayer.style.visibility = 'hidden';
        videoPlayer.id = 'videoPlayer';
        videoPlayer.classList.add('fullscreen');
        videoPlayer.appendChild(source);
        videoPlayer.play();

        // The videos sometimes look at bit weird when they first start playing.
        // To polish things up a bit, we hide the video until the 'playing' event is fired.
        videoPlayer.addEventListener('playing', function() {
            this.style.visibility = 'visible';
        });

        // When the video ends, remove it from the page.
        videoPlayer.addEventListener('ended', function() {
            this.remove();
        });

        container.appendChild(videoPlayer);
    }
</script>
</body>
</html>
